:root {
  --marapython-theme-op: #4259ef23;
  --marapython-white: #fff;
  --marapython-black: #000;
  --marapython-none: rgba(0, 0, 0, 0);
  --marapython-gray: #999999;
  --marapython-yellow: #ffc93e;
  --marapython-border-radius: 8px;
  --marapython-main: var(--marapython-theme);
  --marapython-main-op: var(--marapython-theme-op);
  --marapython-shadow-theme: 0 8px 12px -3px var(--marapython-theme-op);
  --marapython-shadow-main: 0 8px 12px -3px var(--marapython-main-op);
  --marapython-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
  --marapython-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
  --marapython-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
  --marapython-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
  --marapython-shadow-red: 0 8px 12px -3px #ee7d7936;
  --marapython-shadow-green: 0 8px 12px -3px #87ee7936;
  --marapython-shadow-border: 0 8px 16px -4px #2c2d300c;
  --marapython-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
  --style-border: 1px solid var(--marapython-card-border);
  --marapython-blue-main: #3b70fc;
  --style-border-hover: 1px solid var(--marapython-main);
  --style-border-dashed: 1px dashed var(--marapython-theme-op);
  --style-border-avatar: 4px solid var(--marapython-background);
  --style-border-always: 1px solid var(--marapython-card-border);
  --marapython-white-acrylic1: #fefeff !important;
  --marapython-white-acrylic2: #fcfdff !important;
  --marapython-black-acrylic2: #08080a !important;
  --marapython-black-acrylic1: #0b0b0e !important;
}

[data-theme="light"] {
  --marapython-theme: #49B1F5;
  --marapython-theme-op: #4259ef23;
  --marapython-blue: #3b70fc;
  --marapython-red: #d8213c;
  --marapython-pink: #ff7c7c;
  --marapython-green: #57bd6a;
  --marapython-fontcolor: #363636;
  --marapython-background: #f7f9fe;
  --marapython-reverse: #000;
  --marapython-maskbg: rgba(255, 255, 255, 0.6);
  --marapython-maskbgdeep: rgba(255, 255, 255, 0.85);
  --marapython-hovertext: var(--marapython-theme);
  --marapython-ahoverbg: #f7f7fa;
  --marapython-lighttext: var(--marapython-main);
  --marapython-secondtext: rgba(60, 60, 67, 0.6);
  --marapython-scrollbar: rgba(60, 60, 67, 0.4);
  --marapython-card-btn-bg: #edf0f7;
  --marapython-post-blockquote-bg: #fafcff;
  --marapython-post-tabs-bg: #f2f5f8;
  --marapython-secondbg: #edf0f7;
  --marapython-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --marapython-card-bg: #fff;
  --marapython-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --marapython-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --marapython-card-border: #c0c6d8;
}

[data-theme="dark"] {
  --marapython-theme: #0084ff;
  --marapython-theme-op: #0084ff23;
  --marapython-blue: #0084ff;
  --marapython-red: #ff3842;
  --marapython-pink: #ff7c7c;
  --marapython-green: #57bd6a;
  --marapython-fontcolor: #f7f7fa;
  --marapython-background: #18171d;
  --marapython-reverse: #fff;
  --marapython-maskbg: rgba(0, 0, 0, 0.6);
  --marapython-maskbgdeep: rgba(0, 0, 0, 0.85);
  --marapython-hovertext: #0a84ff;
  --marapython-ahoverbg: #fff;
  --marapython-lighttext: #f2b94b;
  --marapython-secondtext: #a1a2b8;
  --marapython-scrollbar: rgba(200, 200, 223, 0.4);
  --marapython-card-btn-bg: #30343f;
  --marapython-post-blockquote-bg: #000;
  --marapython-post-tabs-bg: #121212;
  --marapython-secondbg: #30343f;
  --marapython-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --marapython-card-bg: #1d1b26;
  --marapython-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --marapython-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
  --marapython-card-border: #42444a;
}

/* wide screen 20230101*/
.layout {
  max-width: 1500px;
}
.aside-content {
  max-width: 312px;
  min-width: 300px;
}
.recent-posts {
  width: auto !important;
}
@media screen and (max-width: 900px) {
  .aside-content {
    max-width: none !important;
  }
}

/* styles for tag-page-tags */

#tag #tag-page-tags {
  display: flex;
  flex-flow: row wrap;
  margin: 0px -0.75rem 1rem;
}

/* styles for footer navigation menu */
#footer {
  background: var(--marapython-white);
}

div#footer_social {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  align-items: center
}

@media screen and (max-width: 768px) {
  img.footer_mini_logo {
    display: none
  }

  div#footer_social {
    flex-wrap: wrap;
    flex-direction: row
  }
}


a.social_link {
  display: flex;
  margin: 1rem 27px;
  color: var(--marapython-card-bg);
  border-radius: 50%;
  width: 64px;
  height: 64px;
  background: var(--marapython-fontcolor);
  justify-content: center;
  align-items: center;
  transition: .3s font-size: 16px;
}

a.social_link:hover {
  color: var(--marapython-white);
  background: var(--marapython-main)
}


img.footer_mini_logo {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  cursor: pointer;
  transition: cubic-bezier(0, 0, 0, 1.29) .5s
}

img.footer_mini_logo:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d
}

@media screen and (min-width: 1300px) {
  img.footer_mini_logo:hover {
    transform: scale(1.03)
  }

  img.footer_mini_logo:active {
    transform: scale(.97)
  }
}

#footer-wrap a,
#article-container a {
  color: #3676ab;
}

#footer-wrap a:hover,
#article-container a:hover {
  text-decoration: none;
  color: var(--marapython-main);
}

#marapython-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

#marapython-footer .footer-group {
  min-width: 120px;
}

#marapython-footer .footer-title {
  font-size: 1rem;
  text-align: left;
}

#marapython-footer .footer-links {
  display: flex;
  flex-direction: column;
}

#marapython-footer .footer-item {
  font-size: 1rem;
  color: var(--text-highlight-color);
  margin-right: auto;
}

/* zebra line styles for table */
tbody tr:nth-child(2n) {
  background: var(--marapython-background);
}

tr:hover {
  background: #efefef;
}


/* set inline code styles of post card on frontpage */
#recent-posts>.post-card-large>.recent-post-info>.content code,
#recent-posts>.recent-post-item>.recent-post-info>.content code {
  padding: 2px 4px;
  background: rgba(27, 31, 35, 0.05);
  color: #f47466;
}

/* bilibil video */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  margin: 3% auto;
  text-align: center;
}

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}


/* Adjust the height of exerpt card of each post as on frontpage */
#recent-posts>.post-card-large>.recent-post-info>.content {
  -webkit-line-clamp: 5 !important;
}

/* typing effect on the bottom of footer nav */
/* currently not deployed */
#footer-banner {
  padding: 1rem;
  color: gray;
  margin-top: 1rem;
  background: var(--marapython-background);
  display: flex;
  overflow: hidden;
  z-index: 1002;
  transition: .3s;
  border-top: lightgrey;
}

#footer-banner .footer-banner-links {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

#footer-banner .footer-banner-left {
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;
}

.footer-banner-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#footer-banner .footer-banner-link {
  margin-right: 1rem;
  color: gray;
  font-size: .8rem;
  font-weight: 600;
  white-space: nowrap;
}

#footer-banner .footer-banner-link:hover {
  color: var(--btn-bg);
}

/* when photofigcaption is enabled in _config.butterfly.yml */
p .img-alt {
  display: block !important;
}


/* Akilar style */
#post .post-copyright {
  overflow: hidden;
  border-radius: 12px !important;
  background-color: #eff1f3;
  box-shadow: 2px 2px 5px;
}

#post .post-copyright:hover {
  box-shadow: 4px 4px 7px;
}


/* toc blur and hover to clear */
#aside-content #card-toc .toc-content .toc-link.active {
  line-height: 1.2;
  border-left-color: var(--preloader-bg);
  background-color: var(--card-bg);
  color: var(--blockquote-color);
  font-weight: 500;
  font-size: 1.2em;
}

#aside-content #card-toc .toc-content .toc-link:not(.active) span {
  opacity: 0.6;
  cursor: pointer;
  filter: blur(1px);
  transition: all 0.3s ease 0s;
}

#aside-content #card-toc:hover .toc-content .toc-link:not(.active) span {
  filter: blur(0px);
  opacity: 1;
}

ol,
ul {
  padding-left: 1.2em;
}

